@font-face {
  font-family: "inter";
  font-display: swap;
  src: url("../fonts/inter-v3-latin_cyrillic-300.woff") format("woff"), url("../fonts/inter-v3-latin_cyrillic-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  font-display: swap;
  src: url("../fonts/inter-v3-latin_cyrillic-500.woff") format("woff"), url("../fonts/inter-v3-latin_cyrillic-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  font-display: swap;
  src: url("../fonts/inter-v3-latin_cyrillic-600.woff") format("woff"), url("../fonts/inter-v3-latin_cyrillic-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  font-display: swap;
  src: url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  font-display: swap;
  src: url("../fonts/inter-v3-latin_cyrillic-700.woff") format("woff"), url("../fonts/inter-v3-latin_cyrillic-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  font-display: swap;
  src: url("../fonts/inter-v3-latin_cyrillic-regular.woff") format("woff"), url("../fonts/inter-v3-latin_cyrillic-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?okjil9");
  src: url("fonts/icomoon.eot?okjil9#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?okjil9") format("truetype"), url("fonts/icomoon.woff?okjil9") format("woff"), url("fonts/icomoon.svg?okjil9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}

.icon-telegram:before {
  content: "\e901";
}

.icon-viber:before {
  content: "\e902";
}

.icon-vk:before {
  content: "\e903";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-size: 15px;
  color: #ffffff;
  background-color: #242424;
  font-family: "Inter", sans-serif;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.popup__fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: perspective(600px) translate(0, 0) rotateX(0deg);
          transform: perspective(600px) translate(0, 0) rotateX(0deg);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #000;
  text-decoration: none;
}

.popup__title {
  font-size: 40px;
  margin-bottom: 30px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #242424;
  -webkit-box-shadow: 0px 4px 24px #000000;
          box-shadow: 0px 4px 24px #000000;
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.logo {
  position: relative;
  z-index: 3;
}

.logo img {
  max-width: 100%;
  display: block;
  height: auto;
}

.footer {
  padding-top: calc(25px + 15 * ((100vw - 320px) / 1600));
  padding-bottom: calc(25px + 15 * ((100vw - 320px) / 1600));
  -webkit-box-shadow: 0px 4px 24px #000000;
          box-shadow: 0px 4px 24px #000000;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-wrapper p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #7c7c7c;
  margin: 0px 10px 0px 36px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social::after,
.footer-social::before {
  content: "";
  max-width: 100px;
  height: 2px;
  background-color: #7c7c7c;
  display: inline-block;
  margin: 0px 18px;
}

.footer-social li {
  margin: 0px 18px;
}

.fullscreen {
  padding-top: calc(80px + 40 * ((100vw - 320px) / 1600));
  padding-bottom: calc(50px + 30 * ((100vw - 320px) / 1600));
  position: relative;
  z-index: 3;
}

.fullscreen-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.fullscreen-image::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background: -o-linear-gradient(12.62deg, #242424 8.84%, rgba(36, 36, 36, 0) 79.09%), -o-linear-gradient(157.77deg, #242424 25.75%, rgba(36, 36, 36, 0) 84.58%);
  background: linear-gradient(77.38deg, #242424 8.84%, rgba(36, 36, 36, 0) 79.09%), linear-gradient(292.23deg, #242424 25.75%, rgba(36, 36, 36, 0) 84.58%);
}

.fullscreen-body {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullscreen-body__content {
  width: 100%;
  margin: 0px 30px 0px 0px;
}

.fullscreen-body__content-title {
  font-style: normal;
  font-weight: 700;
  font-size: calc(30px + 30 * ((100vw - 320px) / 1600));
  line-height: calc(36px + 37 * ((100vw - 320px) / 1600));
  color: #ffffff;
  margin: 10px 0px 20px 0px;
}

.fullscreen-body__content-text {
  font-style: normal;
  font-weight: 400;
  font-size: calc(16px + 8 * ((100vw - 320px) / 1600));
  line-height: calc(24px + 12 * ((100vw - 320px) / 1600));
  color: #7c7c7c;
  max-width: 485px;
  margin: 0px 0px 50px 0px;
}

.fullscreen-body__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullscreen-body__social li {
  margin-bottom: calc(24px + 12 * ((100vw - 320px) / 1600));
}

.fullscreen-body__social:after {
  content: "";
  width: 2px;
  height: calc(48px + 52 * ((100vw - 320px) / 1600));
  background-color: #7c7c7c;
  display: block;
}

.fullscreen-body__social::before {
  content: "";
  width: 2px;
  height: calc(48px + 52 * ((100vw - 320px) / 1600));
  background-color: #7c7c7c;
  margin-bottom: calc(24px + 12 * ((100vw - 320px) / 1600));
  display: block;
}

.fullscreen-body__social-link {
  display: inline-block;
  color: #7c7c7c;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  font-size: calc(16px + 8 * ((100vw - 320px) / 1600));
}

.fullscreen-body__social-link:hover {
  color: #ffffff;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.fullscreen-btn {
  font-style: normal;
  font-weight: 600;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
  line-height: calc(18px + 6 * ((100vw - 320px) / 1600));
  color: #ffffff;
  padding: 0px 34px 0px 0px;
  margin: 0px 0px 0px 35px;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: relative;
  display: inline-block;
}

.fullscreen-btn::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../images/fullscreen/arrow.svg) no-repeat;
  width: 24px;
  height: 7px;
  display: inline-block;
}

.fullscreen-btn:hover {
  color: #7c7c7c;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.about-content {
  -webkit-box-shadow: 0px 4px 24px #000000;
          box-shadow: 0px 4px 24px #000000;
  border-radius: 10px;
  padding: 50px 25px 50px 25px;
}

.about-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin-top: calc(30px + 20 * ((100vw - 320px) / 1600));
}

.about-body__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0px 60px 0px 0px;
}

.about-body__content-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: calc(20px + 12 * ((100vw - 320px) / 1600));
  line-height: calc(26px + 13 * ((100vw - 320px) / 1600));
  margin-bottom: 20px;
}

.about-body__content-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: calc(22px + 7 * ((100vw - 320px) / 1600));
  color: #7c7c7c;
}

.about-body__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.about-body__image img {
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 4px 24px #000000);
          filter: drop-shadow(0px 4px 24px #000000);
}

.blog {
  padding-top: calc(50px + 30 * ((100vw - 320px) / 1600));
  padding-bottom: calc(50px + 50 * ((100vw - 320px) / 1600));
}

.blog-more {
  margin-top: calc(30px + 20 * ((100vw - 320px) / 1600));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-more a {
  font-style: normal;
  font-weight: 600;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
  line-height: calc(18px + 6 * ((100vw - 320px) / 1600));
  color: #ffffff;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  padding: 0px 34px 0px 0px;
  display: inline-block;
  position: relative;
}

.blog-more a::after {
  position: absolute;
  width: 24px;
  height: 7px;
  content: "";
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  background: url("../images/fullscreen/arrow.svg") no-repeat;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.blog-more a:hover {
  color: #7c7c7c;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.blog-more a:hover::after {
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  background: url("../images/arrow.svg") no-repeat;
}

.blog-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(50px + 30 * ((100vw - 320px) / 1600));
  margin-left: -10px;
  margin-right: -10px;
}

.blog-body__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 10px;
  margin: 0px 0px 20px 0px;
}

.blog-block {
  -webkit-box-shadow: 0px 4px 24px #000000;
          box-shadow: 0px 4px 24px #000000;
  border-radius: 10px;
  padding: 25px;
}

.blog-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.blog-block__content-image {
  margin: 0px 25px 0px 0px;
}

.blog-block__content-image img {
  max-width: 184px;
  display: block;
  height: auto;
  border-radius: 10px;
}

.blog-block__content-item h3 a {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin: 0px 0px 20px 0px;
  display: inline-block;
  position: relative;
}

.blog-block__content-item h3 a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  display: block;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.blog-block__content-item h3 a:hover {
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  color: #fff;
}

.blog-block__content-item h3 a:hover::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.blog-block__content-item p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #7c7c7c;
}

.blog-block__content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 36px 0px 0px 0px;
}

.blog-block__content-info li {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #7c7c7c;
}

.blog-block__content-info li a {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #7c7c7c;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  padding: 0px 34px 0px 0px;
  display: inline-block;
  position: relative;
}

.blog-block__content-info li a::after {
  position: absolute;
  width: 24px;
  height: 7px;
  content: "";
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  background: url("../images/arrow.svg") no-repeat;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.blog-block__content-info li a:hover {
  color: #fff;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.blog-block__content-info li a:hover::after {
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  background: url("../images/fullscreen/arrow.svg") no-repeat;
}

.contact {
  padding-top: calc(50px + 30 * ((100vw - 320px) / 1600));
  padding-bottom: calc(50px + 30 * ((100vw - 320px) / 1600));
}

.contact-body {
  margin-top: calc(30px + 20 * ((100vw - 320px) / 1600));
}

.contact-body-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.contact-body-form__column {
  margin: 0px 0px 36px 0px;
}

.contact-body-column,
.contact-body-form__line {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.contact-body-column {
  margin-right: calc(30px + 33 * ((100vw - 320px) / 1600));
}

.contact-body-form__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-body-form__btn {
  margin: 36px 0px 0px 0px;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}

.form-column {
  padding: 0px 15px;
}

.btn {
  line-height: calc(40px + 35 * ((100vw - 320px) / 1600));
  height: calc(40px + 35 * ((100vw - 320px) / 1600));
  background-color: #9a2cf0;
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: calc(40px + 29 * ((100vw - 320px) / 1600));
  padding-right: calc(40px + 29 * ((100vw - 320px) / 1600));
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 24px #000000;
          box-shadow: 0px 4px 24px #000000;
  border-radius: 38px;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.btn--w {
  background-color: #ffffff;
  color: #000000;
}

.btn:hover {
  background-color: #242424;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.btn.fw {
  width: 100%;
}

button {
  background-color: transparent;
}

.select-block {
  position: relative;
}

.select__label {
  z-index: 2;
  position: absolute;
  top: -8px;
  background-color: #f7f7f7;
  padding: 0 5px;
  color: #979797;
  font-weight: 400;
}

select {
  position: relative;
  cursor: pointer;
}

select .select-title {
  z-index: 1;
  width: 100%;
  height: 55px;
  border: 1px solid #dedede;
  position: relative;
  background-color: #ffffff;
}

select .select-title .select-title__arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 100%;
  background: url("../img/icons/select-arrow.svg") center no-repeat;
}

select .select-title .select-title__value {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 53px;
  display: block;
  overflow: hidden;
  padding: 0 45px 0 25px;
  white-space: nowrap;
  text-transform: none;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

select .select-title .select-options {
  position: absolute;
  z-index: 10;
  top: 54px;
  display: none;
  overflow: hidden;
  min-width: 100%;
  background-color: #ffffff;
  border: 1px solid #dedede;
  padding: 10px 20px 10px 25px;
}

select .select-title .select-options-scroll {
  max-height: 80px;
  overflow: auto;
}

select .select-title .select-options-list {
  padding: 0 0 0 0;
}

select .select-title .select-options__value {
  color: #000000;
  font-size: 20px;
  margin: 0 0 15px 0;
}

select .select-title .select-options__value:last-child {
  margin: 0 0 0 0;
}

select .select-title .select-options__value:hover {
  color: #000000;
}

label {
  display: block;
  margin: 0 0 8px 0;
}

.label {
  color: #636363;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.label span {
  color: #db0000;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 10px;
  width: 100%;
  display: block;
  padding: 0 20px;
  background-color: transparent;
  -webkit-box-shadow: 0px 4px 24px #000000;
          box-shadow: 0px 4px 24px #000000;
  height: 75px;
  color: #7c7c7c;
}

.input::-webkit-input-placeholder {
  color: #7c7c7c;
}

.input::-moz-placeholder {
  color: #7c7c7c;
}

.input:-ms-input-placeholder {
  color: #7c7c7c;
}

.input::-ms-input-placeholder {
  color: #7c7c7c;
}

.input::placeholder {
  color: #7c7c7c;
}

.input:focus {
  border: 1px solid #7c7c7c;
}

textarea.input {
  resize: none;
  padding: 20px 20px;
  height: 186px;
}

.check {
  position: relative;
  padding-left: 25px;
  color: #55ff55;
  line-height: 18px;
  cursor: pointer;
}

.check input {
  display: none;
}

.check::before {
  content: "";
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #a3a3a3;
  position: absolute;
}

.check.active::before {
  background: url("../img/icons/check.png") center no-repeat;
}

.header-burger {
  display: none;
}

.header-burger__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header-burger__list li {
  margin: 0px 0px 0px 36px;
}

.header-burger__link {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #7c7c7c;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: relative;
}

.header-burger__link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  display: block;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header-burger__link:hover {
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  color: #fff;
}

.header-burger__link:hover::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  display: none;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.title-section__item {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: calc(24px + 12 * ((100vw - 320px) / 1600));
  line-height: calc(28px + 16 * ((100vw - 320px) / 1600));
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #7c7c7c;
  display: inline-block;
}

.title-section__item::after {
  content: "";
  display: block;
  margin: 15px auto 0 auto;
  width: 100px;
  height: 2px;
  background-color: #7c7c7c;
}

.title-section__disc {
  margin-top: 30px;
  color: #555555;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
}

.tabs {
  width: 100%;
  margin-top: 28px;
}

.tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 70px;
}

.tabs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
  color: #555555;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.tabs__item:last-child {
  margin-right: 0;
}

.tabs__block {
  display: none;
}

.tabs__block:target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.tabs__content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(192, 48, 28, 0.7);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.tabs__content-title {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

.tabs__content-cat {
  color: #ffffff;
  font-family: "Roboto Slab";
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 25px;
}

.tabs__content-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #c0301c;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  background-color: #ffffff;
  padding: 15px 39px 15px 20px;
}

.tabs__content-icon {
  color: #c0301c;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  margin: -1px 0 0 9px;
}

.tabs__img {
  width: 100%;
  height: 100%;
  padding-bottom: 28.07%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin-right: 30px;
  position: relative;
}

.tabs__img:hover .tabs__content {
  opacity: 1;
  visibility: visible;
}

.tabs__img:last-child {
  margin-right: 0;
}

.menu-active {
  color: #fff;
}

.menu-active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  display: block;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.portfolio {
  padding-top: calc(50px + 50 * ((100vw - 320px) / 1600));
  padding-bottom: calc(50px + 30 * ((100vw - 320px) / 1600));
}

.portfolio-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.portfolio-content__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 10px;
}

.portfolio-block {
  -webkit-box-shadow: 0px 4px 24px #000000;
          box-shadow: 0px 4px 24px #000000;
  border-radius: 10px;
  background-color: #242424;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.portfolio-block__image {
  margin-bottom: calc(20px + 15 * ((100vw - 320px) / 1600));
}

.portfolio-block__image img {
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: 10px;
}

.portfolio-block__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
  line-height: calc(22px + 8 * ((100vw - 320px) / 1600));
  color: #fff;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  display: inline-block;
  margin: 0px 0px 15px 0px;
  position: relative;
}

.portfolio-block__title::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  display: block;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.portfolio-block__title:hover {
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  color: #fff;
}

.portfolio-block__title:hover::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.portfolio-block p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-style: normal;
  font-weight: 300;
  color: #7c7c7c;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: calc(20px + 2 * ((100vw - 320px) / 1600));
  margin-bottom: calc(20px + 15 * ((100vw - 320px) / 1600));
}

.portfolio-block__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.portfolio-block__link a {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #7c7c7c;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  padding: 0px 34px 0px 0px;
  display: inline-block;
  position: relative;
}

.portfolio-block__link a::after {
  position: absolute;
  width: 24px;
  height: 7px;
  content: "";
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  background: url("../images/arrow.svg") no-repeat;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.portfolio-block__link a:hover {
  color: #fff;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.portfolio-block__link a:hover::after {
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  background: url("../images/fullscreen/arrow.svg") no-repeat;
}

/* Controls
---------------------------------------------------------------------- */

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: calc(50px + 30 * ((100vw - 320px) / 1600));
  margin-bottom: calc(30px + 40 * ((100vw - 320px) / 1600));
  margin-left: calc(-12px + -6 * ((100vw - 320px) / 1600));
  margin-right: calc(-12px + -6 * ((100vw - 320px) / 1600));
}

.controls__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-right: calc(12px + 6 * ((100vw - 320px) / 1600));
  margin-left: calc(12px + 6 * ((100vw - 320px) / 1600));
}

.control {
  display: inline-block;
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #7c7c7c;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: relative;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
  line-height: calc(18px + 6 * ((100vw - 320px) / 1600));
}

.control::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  display: inline-block;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.control:hover {
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  color: #fff;
}

.control:hover::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.mixitup-control-active {
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  color: #fff;
}

.mixitup-control-active::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.mix,
.gap {
  display: inline-block;
  vertical-align: top;
}

.mix {
  margin-bottom: 20px;
  position: relative;
}

.mix:before {
  content: "";
  display: inline-block;
  padding-top: 0;
}

/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

.mix,
.gap {
  width: calc(100% / 2 - (((2 - 1) * 1rem) / 2));
}

/* 3 Columns */

/* 4 Columns */

/* 5 Columns */

@media screen and (min-width: 541px) {
  .mix,
  .gap {
    width: calc(100% / 3 - (((3 - 1) * 1rem) / 3));
  }
}

@media screen and (min-width: 961px) {
  .mix,
  .gap {
    width: calc(100% / 4 - (((4 - 1) * 1rem) / 4));
  }
}

@media screen and (min-width: 1281px) {
  .mix,
  .gap {
    width: calc(100% / 5 - (((5 - 1) * 1rem) / 5));
  }
}

@media (max-width: 1160px) {
  .blog-block__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .blog-block__content-image {
    margin: 0px 0px 20px 0px;
  }

  .blog-block__content-image img {
    max-width: 100%;
  }
}

@media (max-width: 1130px) {
  .about-content {
    padding-bottom: 30px;
  }

  .about-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about-body__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
    margin: 30px 0px 0px 0px;
  }
}

@media (max-width: 991.98px) {
  .portfolio-content__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
  }
}

@media (max-width: 830px) {
  .portfolio-content__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 815px) {
  .footer-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer-social {
    margin: 30px 0px 0px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header__body {
    height: 50px;
  }

  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header-burger span {
    position: absolute;
    background-color: #fff;
    right: 0;
    width: 70%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .header-burger::before,
  .header-burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .header-burger::before {
    top: 0;
  }

  .header-burger::after {
    bottom: 0;
    width: 50%;
  }

  .header-burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header-burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    width: 100%;
  }

  .header-burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header-burger__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #242424;
    padding: 70px 10px 20px 10px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .header-burger__menu.active {
    top: 0;
  }

  .header-burger__list {
    display: block;
  }

  .header-burger__list li {
    margin: 0px 0px 20px 0;
  }
}

@media (max-width: 767.98px) {
  .contact-body-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact-body-column,
  .contact-body-form__line {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .contact-body-column {
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 710px) {
  .controls {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 700px) {
  .controls__column {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 630px) {
  .blog-body {
    margin-left: 0px;
    margin-right: 0px;
  }

  .blog-body__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0px 0px 0px 0px;
  }

  .portfolio-content {
    margin: 0px 0px 0px 0px;
  }

  .portfolio-content__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0px 0px 0px 0px;
  }

  .portfolio-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .tabs__block:target {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tabs__img {
    margin: 0 auto 30px auto;
    width: 360px;
    padding-bottom: 320px;
  }

  .tabs__img:last-child {
    margin: 0 auto;
  }
}

@media (max-width: 529px) {
  .fullscreen-body__content-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .fullscreen-btn {
    margin: 20px 0px 0px 0px;
  }
}

@media (max-width: 425px) {
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-wrapper p {
    margin: 30px 0px 0px 0px;
  }
}

@media (max-width: 400px) {
  .tabs__img {
    width: 290px;
    padding-bottom: 250px;
  }
}
@supports (-webkit-appearance:none){
.fullscreen-btn::after{background:url(../images/fullscreen/arrow.svg) no-repeat}
.blog-more a::after{background:url("../images/fullscreen/arrow.svg") no-repeat}
.blog-more a:hover::after{background:url("../images/arrow.svg") no-repeat}
.blog-block__content-info li a::after{background:url("../images/arrow.svg") no-repeat}
.blog-block__content-info li a:hover::after{background:url("../images/fullscreen/arrow.svg") no-repeat}
select .select-title .select-title__arrow{background:url("../img/icons/select-arrow.svg") center no-repeat}
.check.active::before{background:url("../img/icons/check.webp") center no-repeat}
.portfolio-block__link a::after{background:url("../images/arrow.svg") no-repeat}
.portfolio-block__link a:hover::after{background:url("../images/fullscreen/arrow.svg") no-repeat}
}

 @media screen and (min-width: 541px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 961px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1281px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1160px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1130px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 830px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 815px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 710px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 700px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 630px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 600px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 529px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 425px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 400px){

@supports (-webkit-appearance:none){

}

}
